<a href="https://colab.research.google.com/github/YhokSiri/DataMining/blob/master/HelloSiri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hello PyThon

In [3]:
print("Hello World")

Hello World

#Declare Variable

In [6]:
score = 100
name = "Sirinan"
print("Name is " + name + " score is " + str(score))

Name is Sirinan score is 100

#List

In [7]:
mylist = []
mylist.append("Sirinan")
mylist.append(200)
mylist

['Sirinan', 200]

#If-Else Python

In [12]:
if mylist[1] > 100 :
  print("Pass")

Pass

In [13]:
if mylist[1] > 100 :
  name = mylist[0]
  score = mylist[1]
  print(name+" "+str(score))

Sirinan 200

In [14]:
if mylist[1] > 100 :
  name = mylist[0]
  score = mylist[1]
  print(name+" "+str(score))
elif mylist[1] > 200 :
  print("Very Pass")
else :
  print("Suoer Pass")

Sirinan 200

In [18]:
score = 5
if score > 50 :
  print("A")
elif score >20 :
  print("B")
else :
  print("C")
  if score == 0:
    print("F")

C

#Loop

In [25]:
summation = []
for i in range(0,10):
  summation.append(i)

for i in summation:
  print(str(i))

0
1
2
3
4
5
6
7
8
9

In [23]:
summation = []
a = 0
for i in range(0,10):
  a= a + 5
  summation.append(a)

for i in summation:
  print(str(i))

5
10
15
20
25
30
35
40
45
50

#For each

In [24]:
for i in summation:
  print(str(i))

5
10
15
20
25
30
35
40
45
50